<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  {% include 'style-tags', layout: 'password' %}
  {% include 'css-variables' %}
  {% include 'script-tags', layout: 'password' %}
  {{ content_for_header }}
</head>
<body>
</body>
</html>
